# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - ias-project

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: https://iasprojectreg.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_9707239ee62c48388962bba17e28201a }}
        password: ${{ secrets.AzureAppService_ContainerPassword_e85f738fb01d410cba3fadc434870a60 }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: iasprojectreg.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_9707239ee62c48388962bba17e28201a }}/iasprojectreg/ias-project:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'ias-project'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_488ad7b8b74d42ca9976a6769544765d }}
        images: 'iasprojectreg.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_9707239ee62c48388962bba17e28201a }}/iasprojectreg/ias-project:${{ github.sha }}'