# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - ias-project

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: https://iasprojectreg.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_d0081a619cdb4df1835e1a11d90f3b22 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_0471c69f22924be4837db04cb3ab5895 }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: iasprojectreg.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_d0081a619cdb4df1835e1a11d90f3b22 }}/ias-project:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'ias-project'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_15a0b4182801408391acc7306c45ba7f }}
        images: 'iasprojectreg.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_d0081a619cdb4df1835e1a11d90f3b22 }}/ias-project:${{ github.sha }}'
